{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Editar Visitante</h3>
    </div>
    <div class="card-body">
      <form action="/visitantes/edit-visitante/{{visitante._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="mb-3">
          <label for="title">Nombre:</label>
          <input
            type="text"
            name="title"
            class="form-control"
            value="{{visitante.nombre}}"
          />
        </div>
        <div class="mb-3">
          <label for="title">Curp:</label>
          <input
            type="text"
            name="curp"
            class="form-control"
            value="{{visitante.curp}}"
          />
        </div>
        <div class="mb-3">
          <label for="description">No. Teléfono:</label>
          <input
            type="text"
            name="telefono"
            class="form-control"
            value= "{{visitante.telefono}}"
          />
        </div>
        <div class="mb-3">
          <label for="description">Correo:</label>
          <textarea
            name="correo"
            class="form-control"
          >{{visitante.correo}}</textarea>
        </div> <div class="mb-3">
          <label for="title">Nombre de Inquilino:</label>
          <input
            type="text"
            name="nombreInquilino"
            class="form-control"
            value="{{visitante.nombreInquilino}}"
          />
        </div>
        <div class="mb-3">
          <label for="description">Parentesco:</label>
          <input
            type="text"
            name="parentesco"
            class="form-control"
            value= "{{visitante.parentesco}}"
          />
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>